<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CommonLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CommandTimeout" value="900000" />
    <add key="SessionTimeout" value="216000" />
  </appSettings>
  <connectionStrings>
    <add name="ConString" connectionString="data source=23.91.114.136;initial catalog=5eagle_VBA;user id=VBA_USER;password=VBAVBA"
      providerName="System.Data.SqlClient" />
    <add name="CommonLibrary.Properties.Settings._5eagle_VBAConnectionString"
      connectionString="Data Source=23.91.114.136;Initial Catalog=5eagle_VBA;Persist Security Info=True;User ID=VBA_USER"
      providerName="System.Data.SqlClient" />
    <add name="CommonEntities" connectionString="metadata=res://*/Data.CommonModel.csdl|res://*/Data.CommonModel.ssdl|res://*/Data.CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.91.114.136;initial catalog=5eagle_VBA;persist security info=True;user id=VBA_USER;password=VBAVBA;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <CommonLibrary.Properties.Settings>
      <setting name="ConString" serializeAs="String">
        <value>data source=23.91.114.136;initial catalog=5eagle_VBA;user id=VBA_USER;password=VBAVBA</value>
      </setting>
    </CommonLibrary.Properties.Settings>
  </applicationSettings>
</configuration>