<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ArticleEntities" connectionString="metadata=res://*/ArtilceModel.csdl|res://*/ArtilceModel.ssdl|res://*/ArtilceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.91.114.136;initial catalog=5eagle_VBA;persist security info=True;user id=VBA_USER;password=VBAVBA;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>